<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cby.tcs.job_qualified_percent.dao.JobQualifiedPercentDao">

    <select id="getUavPassRateRanking" resultType="com.freedom.cloud.options.Option">
        SELECT
            u.username label,
            jqp.percent_pass `value`
        FROM
            `user` u
                JOIN job_qualified_percent jqp ON u.id = jqp.job_id
        WHERE
            jqp.job_type = "U"
        ORDER BY
            jqp.percent_pass DESC
            LIMIT 3
    </select>
</mapper>
